apiVersion: kubernetes.openmcf.org/v1
kind: KubernetesRookCephOperator
metadata:
  name: rook-ceph-operator-example
spec:
  namespace:
    value: "rook-ceph"
  create_namespace: true
  container:
    resources:
      requests:
        cpu: 200m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
  csi:
    enable_rbd_driver: true
    enable_cephfs_driver: true
